# Игнорировать файлы с расширением .pyc
*.pyc

# Игнорировать папку build в корне репозитория
/build/

# Игнорировать все файлы в папке temp и ее подпапках
temp/**

# Игнорировать файл .env в любом месте репозитория
.env

.idea/
